.bg {
    background-color: darkblue;
    width:100%;
    height:100vh;
    background-size:200%;
  }
  
  #form1 {
    position: center;
    top:15vh;
    width: 80vh;
    background:#fff;
    padding:30px;
    border-radius:10px;
    box-shadow: 0px 0px 10px 0px #000;
  }
  
  @@media only screen and (max-width: 678px) {
    .bg{
      background-size: 300%;
    }
  }
  
  #form1 {
    margin-top: 10%;
  }